{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div style="position: fixed; width: 100%; top: 0px; z-index: 2; background-color: rgba(230, 230, 250, 1);">
    <span class="navbar1">
      <div class="row d-flex align-items-center">
        <div class="col-md-2 bg-light text-center">
          <p>ENGLISH</p>
        </div>
        <div class="col-md-8 bg-white">
          <p class="text-center">Get rated By your Peers, Know where you Stand</p>
        </div>
        <div class="col-md-2 bg-light" id="social_icons">
          <span class="facebook_icon"><img src="../static/images/facebook.png" alt="facebook"></span>
          <span class="instagram_icon"><img src="../static/images/instagram.png" alt="instagram"></span>
          <span class="twitter_icon"><img src="../static/images/twitter_icon.png" alt="twitter"></span>
        </div>
      </div>
    </span>
    <div class="row navbar2">
      <div class="col-md-4">
        <form action="{% url 'get_project'%}" class='inline-form col-md-2' method="GET">
          <input type="text" name="search_term" id="search_form" style="width: 150px;">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
      </div>
      <div class="col-md-2 text-center"><span class="web_title navbar-brand text-center"><a href="/">The Jury</a></span>
      </div>
      {% if request.user.is_authenticated %}
      <div class="col-md-4 content_navbar">
        <a class="nav-link dropdown-toggle d-flex flex-row align-items-center" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="nav_img" src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}"
            alt="{{request.user}}'s photo">
          <button class="btn btn-outline-success">{{request.user.username}}</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Posts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link ml-auto">REGISTER / LOGIN</a>
        {%endif%}
        <a href="{% url 'upload_project' %}"><button class="btn btn-success">SUBMIT PROJECT</button></a>
      </div>
    </div>
  </div>
</body>

</html>