{% extends 'app_templates/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content%}



<div class="proj-of-day" style="background-image: url('{{proj_day.project_image.url}}');color: white;">
  <div class="overlay2 row">
    <div class="col-md-12 d-flex flex-row align-items-center">
      <h3>Site of The Day: {{date_today}}</h3>
      <div class="bt-circle bt-share ml-auto">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 227.216 227.216" style="enable-background:new 0 0 227.216 227.216;"
          xml:space="preserve">
          <path d="M175.897,141.476c-13.249,0-25.11,6.044-32.98,15.518l-51.194-29.066c1.592-4.48,2.467-9.297,2.467-14.317
          c0-5.019-0.875-9.836-2.467-14.316l51.19-29.073c7.869,9.477,19.732,15.523,32.982,15.523c23.634,0,42.862-19.235,42.862-42.879
          C218.759,19.229,199.531,0,175.897,0C152.26,0,133.03,19.229,133.03,42.865c0,5.02,0.874,9.838,2.467,14.319L84.304,86.258
          c-7.869-9.472-19.729-15.514-32.975-15.514c-23.64,0-42.873,19.229-42.873,42.866c0,23.636,19.233,42.865,42.873,42.865
          c13.246,0,25.105-6.042,32.974-15.513l51.194,29.067c-1.593,4.481-2.468,9.3-2.468,14.321c0,23.636,19.23,42.865,42.867,42.865
          c23.634,0,42.862-19.23,42.862-42.865C218.759,160.71,199.531,141.476,175.897,141.476z M175.897,15
          c15.363,0,27.862,12.5,27.862,27.865c0,15.373-12.499,27.879-27.862,27.879c-15.366,0-27.867-12.506-27.867-27.879
          C148.03,27.5,160.531,15,175.897,15z M51.33,141.476c-15.369,0-27.873-12.501-27.873-27.865c0-15.366,12.504-27.866,27.873-27.866
          c15.363,0,27.861,12.5,27.861,27.866C79.191,128.975,66.692,141.476,51.33,141.476z M175.897,212.216
          c-15.366,0-27.867-12.501-27.867-27.865c0-15.37,12.501-27.875,27.867-27.875c15.363,0,27.862,12.505,27.862,27.875
          C203.759,199.715,191.26,212.216,175.897,212.216z" />
        </svg>

      </div>
    </div>
    <div class="proj_details col-md-12 d-flex flex-column align-items-center">
      <h2 class="bold text-center">{{proj_day.project_title}}</h2>
      <h5>BY: {{proj_day.user.username}} created on {{proj_day.created_on}}</h5>
    </div>
    <div class="proj_ratings col-md-12 d-flex flex-column align-items-center justify-content-center">
      <div class="design">
        <p>Design:</p>
        <span class="progress" style="width: 60vw;">
          <p class="prog bg-warning" style="height: 100%; 
                                            color: white;
                                            font-size: 2em;
                                            font-weight: bold;
                                            width: 60%;">60%</p>
        </span>
      </div>
      <div class="usability">
        <p>Usability:</p>
        <span class="progress" style="width: 60vw;">
          <p class="prog bg-success" style="height: 100%; 
                                            color: white;
                                            font-size: 2em;
                                            font-weight: bold;
                                            width: 60%;">60%</p>
        </span>
      </div>
      <div class="content">
        <p>Content:</p>
        <span class="progress" style="width: 60vw;">
          <p class="prog bg-danger" style="height: 100%; 
                                            color: white;
                                            font-size: 2em;
                                            font-weight: bold;
                                            width: 60%;">60%</p>
        </span>
      </div>
    </div>
    <div class="proj-footer col-md-12 d-flex flex-column align-items-center justify-content-center">
      <a href="{{proj_day.project_link}}" target="_blank"><button class="btn btn-success text-center">Visit Site</button></a>
    </div>
  </div>
</div>
</div>
<hr>
<div class="bg-white">
  <h3 class="ml-5">Top Posts</h3>
  <div class="top_posts p-5">

    {% if user_projects%}
    {% for project in user_projects%}
    <div class="card col-md-3 m-3">
      <div class="card-image" style="background-image: url('{{project.project_image.url}}'); 
      background-position: center;
      width: 100%;
      height: 300px;
      background-size: contain;
      border-radius: 0%;
      ">
        <p id="social_icons">
          <a href=""><span class="collect_icon">Collect</span></a>
          <a href="https://web.facebook.com/facebook_account/"><span class="facebook_icon"><img
                src="../static/images/facebook.png" alt="facebook"></span></a>
          <a href="https://web.twitter.com/twitter_account/"><span class="instagram_icon"><img
                src="../static/images/instagram.png" alt="instagram"></span></a>
          <a href="https://web.instagram.com/{{project.instagram_account}}/"><span class="twitter_icon"><img
                src="../static/images/twitter_icon.png" alt="twitter"></span></a>

        </p>
      </div>
      <div class="card-title">
        <p>{{project.project_title}}<p>
            <p class="alert-danger"> <span>Category</span></p>
      </div>
      <div class="card-footer">
        <p class="alert alert-success p-2">BY:{{project.user.username}}</p> 
        <a href="{%url 'single_project' project.id %}">
          <button class="btn btn-default">Rate Website</button>
        </a>
      </div>
    </div>

    {%endfor%}
    {%endif%}

  </div>
  <!-- 
  <div class="previous_wins">
    <div class="card col-md-3">
      <div class="card-image"style="background-image: url('../../static/images/login_wallpare.jpeg'); 
      background-position: center;
      width: 100%;
      height: 100%;
      background-size: contain;
      border-radius: 0%;
      ">
      <p id="social_icons">
        <span class="collect_icon">Collect</span>
        <span class="facebook_icon"><img src="../static/images/facebook.png" alt="facebook"></span>
        <span class="instagram_icon"><img src="../static/images/instagram.png" alt="instagram"></span>
        <span class="twitter_icon"><img src="../static/images/twitter_icon.png" alt="twitter"></span>
        
      </p>
      </div>
      <div class="card-title">
        <p>Image card Title- image card subtitle<p>
          <p>Added To: <span>Category</span></p>
      </div>
      <div class="card-footer">
        <p>BY: AUTHOR NAME <span>share</span></p>
      </div>
    </div>

  </div>
  <div class="categories">
    <div class="card col-md-3">
      <div class="card-image"style="background-image: url('../../static/images/login_wallpare.jpeg'); 
      background-position: center;
      width: 100%;
      height: 100%;
      background-size: contain;
      border-radius: 0%;
      ">
      <p id="social_icons" class="w-100">
        <span class="collect_icon">Collect</span>
        <span class="facebook_icon"><img src="../static/images/facebook.png" alt="facebook"></span>
        <span class="instagram_icon"><img src="../static/images/instagram.png" alt="instagram"></span>
        <span class="twitter_icon"><img src="../static/images/twitter_icon.png" alt="twitter"></span>
        
      </p>
      </div>
      <div class="card-title">
        <p>Image card Title- image card subtitle<p>
          <p>Added To: <span>Category</span></p>
      </div>
      <div class="card-footer">
        <p>BY: AUTHOR NAME <span>share</span></p>
      </div>
    </div>

  </div> -->
</div>

{% endblock %}