{% extends 'app_templates/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content%}
<hr>
<div class="profile_page row">
  <div class="col-md-2 bg-light"></div>
  <div class="col-md-8 row">
    <div class="profile_pg col-m-6">
      <img src="{{user_profile.photo_path.url}}" alt="profile">
    </div>
    <div class="user-details col-md-6 d-flex flex-column align-items-center justify-content-start">
      {% for message in messages%}
      <div
        class="alert_window create_account_alert alert alert-warning alert-dismissible fade show z-index-4 position-fixed mt-5">
        <strong>Warning!</strong>--<p>{{message}}</p>
        <button type="button" data-dismiss="alert" class="bg-primary w-25 h-25 text-center">
          <p class="w-100 h-100" data-toggle="modal" data-target="#exampleModalLong">create</p>
        </button>
      </div>
      {%endfor%}
      <div class="user_sam d-flex flex-row align-items-center justify-content-felx-start">
        <p class="profile_username ml-auto">{{request.user.username}}</p>
        <!--if it is the owner, edit profile, else, follow-->
        {%if user_profile %}
        {% if request.user.id != user_profile.user.id%}
        <button class="btn btn-default">See Posts</button>
        {%else%}
        <strong>
          <button type="button" class="btn btn-default m-5" data-toggle="modal" data-target="#exampleModalLong"
            class="edit_profile">
            Edit Profile
          </button>
        </strong>
        {%endif%}
        {%else%}
        <strong>
          <button type="button" class="btn btn-default m-5" data-toggle="modal" data-target="#exampleModalLong"
            class="edit_profile">
            Add Profile
          </button>
        </strong>
        {%endif%}
      </div>

      <div class="names d-flex flex-row align-items-center ">
        <strong class="ml-auto">{{request.user.first_name}}</strong>~<strong>{{request.user.last_name}}</strong>
      </div>
      <i>{{user_profile.user_bio}}</i>

    </div>
    <hr>
    <!--Loop posts here-->

    <div class="a_user_post col-md-12">
      {% if user_posts %}
      <div class="d-flex col-md-12 flex-wrap">

        {% for post in user_posts%}
        <div class="card col-md-4">
          <h4 class="card-title text-center">{{post.project_title}}</h4>
          <div class="card-body">
            <img class="card-image new_post" src="{{post.project_image}}" alt="" style="width: 100%;">
            {% autoescape on %}
            <p class="text-center">{{post.project_description|safe}}</p>
            {% endautoescape %}
          </div>
          <div class="card-footer d-flex align-items-center justify-content-center">
            <a href="{{post.project_link}}"><button type="button" id='add_post_btn'
                class="p-auto text-center btn btn-outline-success">Visit Site</button>
            </a>
            <p style="border: 1px solid white; 
                                    background-color:rgb(44, 117, 62);
                                    color: white; 
                                    width: auto; 
                                    height: 10px;
                                    display: flex;
                                    align-items: center;
                                    font-size: .8em;
                                    font-weight: 600;
                                    padding: 10px;">{{post.user.username}}</p>
          </div>
        </div>
        {%endfor%}

      </div>


      {%else%}
      <!--if not posts-->
      <div class="posts_loop bg-light">
        <p class="text-center alert-info p-2">No posts yet!</p>
        <div class="get_started">
          <div class="card col-md-4 m-4">
            <h4 class="card-title text-center">Upload Your First Project</h4>
            <div class="card-body">
              <img class="card-image new_post" src="../../static/images/projects upload.jpeg" alt=""
                style="width: 100%;">
              <p class="text-center">Get Feedback and Reviews from Your Peers and Proffessionals.</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-center">
              <a href="{% url 'upload_project' %}"><button type="button" id='add_post_btn'
                  class="p-auto text-center btn btn-primary">Add Post</button></a>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
  </div>
  <div class="col-md-2 bg-light"></div>
</div>

<!--Modal Window-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Profile</h5><img
          src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}" alt="profile" width="30px" height="30px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'user_profile' %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="modal-body">
          <!--Update profile form-->

          {{form.as_p}}

          <!--end of form -->
        </div>
        <div class="modal-footer">
          <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End of modal window-->

{%endblock%}