{% extends 'app_templates/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content%}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card col-md-12">
      <img src="{{project.project_image.url}}" class="card-img-top" alt="...">
      <div class="card-body" style="height: 200px;">
        <h5 class="card-title bold">{{project.project_title}}</h5>
        {{autoescapeon}}
        <p class="card-text">{{project.project_description|safe}}</p>
        {{endautoescape}}
        
      </div>
      <div class="card-footer p-4">
        <a href="{{project.project_link}}" class="btn btn-outline-success bg-white" target="_blank">Visit Site</a>
        <button type="button" data-toggle="modal" data-target="#exampleModalLong" class="edit_profile btn btn-default">
          Rate Website
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="cast_votes col-md-12">
    <div class="votes_title">
      <h3 class="bold bg-white p-3 text-center">User Votes</h3>
    </div>
    {%if votes%}
    {%for vote in votes%}

    <div class="one_vote col-md-12 d-flex flex-row align-items-center justify-content-flex-start bg-white">
      <span class="col-md-2"><img class="user_profile" src="" alt=""></span>
      <div class="voter_det col-md-5">
        <p>James Amoolo</p>
        <p>category</p>
      </div>
      <div class="rates col-md-3">
        <span class="design">
          <svg style="width: 40px; height: 40px;">
            <circle r="19" cy="20" cx="20"
              style="stroke-dasharray: 119.381; stroke-dashoffset: 0%; fill:white; stroke:black;">90</circle>
          </svg>
        </span>
        <span class="usability">
          <svg style="width: 40px; height: 40px;">
            <circle r="19" cy="20" cx="20" style="stroke-dasharray: 119.381; stroke-dashoffset: 35.8142;"></circle>
          </svg>
        </span>
        <span class="content">
          <svg style="width: 40px; height: 40px;">
            <circle r="19" cy="20" cx="20" style="stroke-dasharray: 119.381; stroke-dashoffset: 35.8142;"></circle>
          </svg>
        </span>
      </div>
      <div class="tot_rate col-md-2">
        <p>234%</p>
      </div>
    </div>
    <hr>
    {%endfor%}
    {%else%}

    <p class="bg-white m-5 text-center p-5">No votes for this Application</p>
    <hr>
    {%endif%}
  </div>
  <div class="footer col-md-12">
    <p class="text-center">&copy;codinga-2021</p>
  </div>
</div>

<!--Modal Window for rating form-->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Profile</h5><img
          src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}" alt="profile" width="30px" height="30px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'single_project' project.id %}" method="POST">
        {%csrf_token%}
        <div class="modal-body">
          <!--Intro to form rating-->
          <p class="title">Applications are rated based on three marks:</p>
          <p>
            <span class="bold">Design</span>-This is the overall appearance of the project<br>
            <span class="bold">Usability</span> - This can be translated to the user experience and how responsive the project is.<br>
            <span class="bold">Content</span> - This includes the technologies used, the font used(is it uniform throughout the project) and grammar<hr>
          </p>
          <!--rate website form-->
          <label for="design_rate">How would you Rate the Applications Design:</label><br>
          1-<input type="radio" name="design" value="1" id="design_rate">|
          2-<input type="radio" name="design" value="2" id="design_rate">|
          3-<input type="radio" name="design" value="3" id="design_rate">|
          4-<input type="radio" name="design" value="4" id="design_rate">|
          5-<input type="radio" name="design" value="5" id="design_rate">|
          6-<input type="radio" name="design" value="6" id="design_rate">|
          7-<input type="radio" name="design" value="7" id="design_rate">|
          8-<input type="radio" name="design" value="8" id="design_rate">|
          9-<input type="radio" name="design" value="9" id="design_rate">|
          10-<input type="radio" name="design" value="10" id="design_rate">|

          <label for="design_rate_desc">What is the reason for the score above:
            <textarea name="design_rate_desc" id="design_rate_desc" style="font-weight: normal;"></textarea>
          </label><hr>
          <!--For usability-->
          <label for="usability_rate">How would you Rate the Applications Usability:</label><br>
          1-<input type="radio" name="usability" value="1" id="usability_rate">|
          2-<input type="radio" name="usability" value="2" id="usability_rate">|
          3-<input type="radio" name="usability" value="3" id="usability_rate">|
          4-<input type="radio" name="usability" value="4" id="usability_rate">|
          5-<input type="radio" name="usability" value="5" id="usability_rate">|
          6-<input type="radio" name="usability" value="6" id="usability_rate">|
          7-<input type="radio" name="usability" value="7" id="usability_rate">|
          8-<input type="radio" name="usability" value="8" id="usability_rate">|
          9-<input type="radio" name="usability" value="9" id="usability_rate">|
          10-<input type="radio" name="usability" value="10" id="usability_rate">|

          <label for="usability_rate_desc">What is the reason for the score above:
            <textarea name="usability_rate_desc" id="usability_rate_desc" style="font-weight: normal;"></textarea>
          </label><hr>
          <!--for content-->
          <label for="content_rate">How would you Rate the Applications Content:</label><br>
          1-<input type="radio" name="content" value="1" id="content_rate">|
          2-<input type="radio" name="content" value="2" id="content_rate">|
          3-<input type="radio" name="content" value="3" id="content_rate">|
          4-<input type="radio" name="content" value="4" id="content_rate">|
          5-<input type="radio" name="content" value="5" id="content_rate">|
          6-<input type="radio" name="content" value="6" id="content_rate">|
          7-<input type="radio" name="content" value="7" id="content_rate">|
          8-<input type="radio" name="content" value="8" id="content_rate">|
          9-<input type="radio" name="content" value="9" id="content_rate">|
          10-<input type="radio" name="content" value="10" id="content_rate">|

          <label for="content_rate_desc">What is the reason for the score above:
            <textarea name="content_rate_desc" id="content_rate_desc" style="font-weight: normal;"></textarea>
          </label>

          <!--end of form -->
        </div>
        <div class="modal-footer">
          <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End of modal window-->

{%endblock%}